*{
	margin:0px;
	border-width: 0px;
	padding: 0px;
}

html,body{
	font-family: 'Quicksand', sans-serif;
	width: 100%;
	height: 100%;
}

.title{
	margin: 1%;
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 2.5em;
}

.video{
	display: table;
	width: 100%;
	height: 40%;
	text-align: center;
	
}

.video p{
	display: table-cell;
	vertical-align: middle;
}


.graph{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}



.graph .info{
	position: absolute;
	
}

.graph #value{
	top: 0%;
	left:2%;
}

.graph #unit{
	top:0%;
	right:2%;
}

.graph svg{
	margin: 0 5%;
}






#slidebarCanvas line{
	stroke:black;
}


circle.slideComponent{
	cursor: pointer;

	-webkit-transition:all 0.5s ease-in-out;
  	-moz-transition:all 0.5s ease-in-out;
  	-o-transition:all 0.5s ease-in-out;
  	transition:all 0.5s ease-in-out;
}

circle.slideComponent:hover{
	opacity: 0.5;
}


.silenceBar{
	stroke:black;
	fill:rgba(0,0,0,0.2);
	stroke-dasharray:5,2;

	cursor: pointer;

	-webkit-transition:all 0.5s ease-in-out;
  	-moz-transition:all 0.5s ease-in-out;
  	-o-transition:all 0.5s ease-in-out;
  	transition:all 0.5s ease-in-out;
}

.silenceBar:hover{
	fill:rgba(0,0,0,0.6);
}




.axis path{
	fill:none;
	stroke:none;
}

.axis text{
	font-size: 0.8em;
}

.axis.right line{
	stroke: #777;
	stroke-width: 0.5;
}

