.center {
margin:auto;
text-align: center ;
}

video {
position: relative;
z-index: 1;
}

#buttonbar {
margin-top: 30px;
position: relative;
z-index: 2;
}


#seek-bar {
    -webkit-appearance: none;
    background-color: #666;
    width: 480px;
}

#seek-bar::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #000;
    
    width: 10px;
    height: 26px;
}


#progressTable {
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
	color: white;
}

#loadingprogress{
	/* border */
	border-radius: 20px;
	/* initial size */
	height: 20px;
	width: 0;
	/* background color */
	background-color: #9acd00;
}


.playButton {
	z-index: 2;
	position: absolute;
	margin-top: 130px;
	margin-left: 220px;
	background: transparent url(image.png);
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	border: none;
}